.body-back
  form.form-formate(name='log_in_registration' novalidate ng-submit='logInCtrl.requestLogIn(log_in_registration.$valid)')
      img.logo-wolox-life(src='../assets/wolox-life-treasure.png')
      img.title-w-life(src='../assets/cofre.png')
      .field-section
        span.field
          | {{ 'LOG_IN.MAIL' | translate }}
        input.mail(type='text' name='mail' required ng-model='logInCtrl.requestLogInn.mail')
        span.field
          | {{ 'LOG_IN.BUDDY' | translate }}
        input.mail(type='text' name='nombre' required ng-model='logInCtrl.requestLogInn.nombre')
        button.but-style.m-top-2(type='button')
          | {{ 'LOG_IN.START' | translate }}
