.body-back
  form.form-formate(name='log_in_registration' novalidate ng-submit='logInCtrl.requestLogIn(log_in_registration.$valid)')
      img.logo-wolox-life(src='../assets/WOLOX-LIFE-LOGO.png')
      img.title-w-life(src='../assets/cofre.png')
      .field-section
        span.field
          | {{ 'LOG_IN.MAIL' | translate }}
        input.mail(type='text' name='mail' required ng-model='logInCtrl.requestLogInn.mail')
        span.field
          | {{ 'LOG_IN.BUDDY' | translate }}
        input.mail(type='password' name='password' required ng-model='logInCtrl.requestLogInn.password')
      button.but-style(type='text')
        | {{ 'LOG_IN.START' | translate }}
