
.home-content
  .home-body
    input.filter(type='text' placeholder="{{ 'HOME.SELECT' | translate }}")
    .search
      input.filter(type='text' placeholder="{{ 'HOME.SEARCH' | translate }}" ng-model='query')
      button.magnifying-glass(type='submit')
        img(src='../assets/search.svg')
  .main-books
    .list-books(ng-repeat='book in homeCtrl.books | filter:query')
      .each-book
        img.front-book(ng-src='{{book.imageUrl}}' ng-show='book.imageUrl')
        div
          img.front-book-undiff(src='../assets/default_book.svg' ng-hide='book.imageUrl')
        h1.title-book(ui-sref='principal.books({objectId: book.objectId})')
          | {{book.name}}
        h2.author-book
          | {{book.author}}
