.general-content
  .intro-content
    img.p-top-5(src='../assets/buddy.png')
    .intro-speach
      span.title2.center2
        | ¡Bienvenido/a a Wolox Life!
      span.title2.center2
        | Yo soy tu Buddy, tu compañero/a en este proceso de inducción a Wolox.
      span.title2.center2
        | Preparate para ser parte de algo grande, descubrí los tesoros ocultos en la oficina desbloqueando los siguientes niveles:
      span.title2.p-left-15
        | W: Introducción
      span.title2.p-left-15
        | O: Cultura y valores
      span.title2.p-left-15
        | L: Proyectos y Tecnologías
      span.title2.p-left-15
        | O: Perks y W-eventos.
      span.title2.p-left-15
        | X: Nivel X
  button.start-button(ui-sref='principal.map')
    | Challenge accepted
