.map
  .column-map.m-column-right
    .level-row.right
      .bubble(ui-sref='principal.level1', ng-class="{present: mapCtrl.level === 0}")
        | W
  .column-map.m-column-left
    .level-row.left.first-o
      .bubble(ui-sref='principal.level2', ng-class="{present: mapCtrl.level === 1, future: mapCtrl.level < 1}")
        | O
  .column-map.m-column-right
    .level-row.right
      .bubble(ui-sref='principal.level3', ng-class="{present: mapCtrl.level === 2, future: mapCtrl.level < 2}")
        | L
  .column-map.m-column-left
    .level-row.left.second-o
      .bubble(ui-sref='principal.level4', ng-class="{present: mapCtrl.level === 3, future: mapCtrl.level < 3}")
        | O
  .column-map.m-column-right
    .level-row.right
      .bubble(ui-sref='principal.level5', ng-class="{present: mapCtrl.level === 4, future: mapCtrl.level < 4}")
        | X
