@import url('https://fonts.googleapis.com/css?family=Days+One');

.map {
  background-image: url('../assets/mapa_wolox3.png');
  height: calc(100vh - 92px);
}

.map-img {
  height: 1200px;
  width: 800px;
  position: fixed;
  top: 88px;
  left: -9px;
}

.main-letter {

  & > .bubble {
    font-family: 'Days One', sans-serif;
    font-size: 150px;
    text-align: center;
  }

  &.gap {
    opacity: 0;
  }
}

.clue-content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 700px;
  position: relative;
}

.clue-title {
  align-self: center;
  color: $wolox-blue;
  font-size: 80px;
  padding-left: 70px;
}

.first-o {
  color: $bright-blue;
}

.second-o {
  color: $wolox-green;
}

.bubble {

  &.present {
    -moz-box-shadow: 0 0 59px 19px $register-back;
    -webkit-box-shadow: 0 0 59px 19px $register-back;
    background-color: $wolox-beige;
    border-radius: 50%;
    box-shadow: 0 0 59px 19px $register-back;
    height: 200px;
    margin: 0 auto;
    width: 200px;
  }

  &.future {
    opacity: 0.3;
  }
}
