.center {
  background-color: $translucent-white;
  height: 100%;
  left: 20%;
  position: absolute;
  text-align: center;
  width: 60%;

  h1 {
    color: $wolox-green;
  }
}

.clue-title {
  align-self: center;
  color: $wolox-blue;
  font-size: 80px;
  padding-left: 70px;
}
