
$wolox-green: #93BC3D;
$wolox-blue: #2B99D1;
$wolox-black: #000;
$translucent-white: rgba(255, 255, 255, 0.9);
$shadow-grey: rgba(0, 0, 0, 0.1);
$wolox-white: #FFF;
$woox-grey: #111;
$submit-green: #F4F4F4;
$add-list-blue: rgba(0, 173, 238, 0.25);
$magnifying-glass-green: #A5CD39;
$back-grey: #D8D8D8;
$title-black: #000;
$author-black: #4A4A4A;
$register-back: rgba(0, 0, 0, 0.75);
$wolox-red: #F00;
$soft-grey: #999;
$bright-blue: #00ADEE;
$comment-green: #A5CD39;
$light-grey: #E6E6E6;
$furious-red: #FF233E;
$translucent-grey: #CCC;
$yellow-green: #E0ECC1;
$wolox-beige: #EFD2AC;
