.main-body
  .main-contenier
    h1.property
      | {{ 'PROFILE.FIRSTNAME' | translate }}

    h2.response
      | {{ profileCtrl.profile.firstname }}

    h1.property
      | {{ 'PROFILE.LASTNAME' | translate }}

    h2.response
      | {{ profileCtrl.profile.lastName }}

    h1.property
      | {{ 'PROFILE.USERNAME' | translate }}

    h2.response
      | {{ profileCtrl.profile.username }}

    h1.property
      | {{ 'PROFILE.EMAIL' | translate }}

    h2.response
      | {{ profileCtrl.profile.email }}

    h1.property
      | {{ 'PROFILE.CREATAT' | translate }}

    h2.response
      | {{ profileCtrl.profile.createdAt }}

    button(ui-sref='principal.updateProf')
      | {{ 'PROFILE.SUBMIT' | translate }}
